.myIconTabBar .sapMITBItem:not(.sapMITBSelected) .sapMITBText {
    color: orange !important;
    /* Set the desired text color */
}

.myIconTabBar .sapMITBSelected .sapMITBText {
    color: purple !important;
}

.myIconTabBar .sapMITBSelected .sapMITBContentArrow::after {
    background: purple !important;
}

.sapMITH {
    box-shadow: none;
}

.sapMLIB.marked .sapMText {
    color: green !important;
}

.largeTableToolbar {
    height: 3.75rem !important;
}

.sapMTableTH {
    top: 3.75rem !important;
}

.largeTableContainer {
    width: 90%;
    border-radius: 5px;
}