.myIconTabBar .sapMITBItem:not(.sapMITBSelected) .sapMITBText {
    color: orange !important;
    /* Set the desired text color */
}

.myIconTabBar .sapMITBSelected .sapMITBText {
    color: purple !important;
}

.myIconTabBar .sapMITBSelected .sapMITBContentArrow::after {
    background: purple !important;
}

.sapMITH {
    box-shadow: none;
}

.sapMLIB.marked .sapMText {
    color: green !important;
}